.img{
    max-width: 150px;
}
.nav-item{
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    margin: 1.5rem;
    

}

.bd-footer{
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    margin: 1.5rem;
}

.card-title{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
  
    color: #a47132;

}